.parentHero {
      p {
      padding: .6rem;
      font-size: 1.5rem;
    }
  }

#navWrapper {
    background-color: #ffffff;
    button {
      display: none;
    }
  }
  
  ul{
    display: flex;
    list-style-type: none;
    justify-content: left;
    padding: 0;
   }

   ul li {
    border-bottom: none;
    margin-right: 15px;
    padding: 15px;
   }





 